# Machine Leanering e Power BI para Segmentação de Clientes

Considerando dados históricos de clientes que realizam compras em nossa empresa fictícia, faça o agrupamento (segmentação) dos clientes por similaridade de característica em 3 grupos e envie o relatório para a equipe de Marketing.

In [1]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

### Importando os dados

In [2]:
dados = pd.read_csv('dados_clientes.csv')

In [3]:
dados.head(3)

   id  idade  renda_anual  pontuacao_gastos
0   1     56        94740                90
1   2     69       136352                50
2   3     46        86617                62

In [4]:
dados.tail(3)

      id  idade  renda_anual  pontuacao_gastos
497  498     40        93553                54
498  499     26        26941                91
499  500     29        45934                31

In [5]:
type(dados)

pandas.core.frame.DataFrame

In [6]:
dados[['idade', 'renda_anual', 'pontuacao_gastos']].describe()

            idade    renda_anual  pontuacao_gastos
count  500.000000     500.000000        500.000000
mean    44.732000   81557.166000         48.512000
std     15.239707   36764.379945         29.556946
min     18.000000   20384.000000          0.000000
25%     32.000000   49172.750000         24.000000
50%     45.000000   79219.000000         48.500000
75%     57.000000  113017.250000         73.250000
max     70.000000  149695.000000        100.000000

### 1º Processamento de daods

In [7]:
# Vamos por os dados na mesma escala

padronizador = StandardScaler()

dados_padronizados = padronizador.fit_transform(dados[['idade', 'renda_anual', 'pontuacao_gastos']])

dados_padronizados

array([[ 0.74012478,  0.35893538,  1.40506904],
       [ 1.59401387,  1.49192537,  0.05039391],
       [ 0.08328703,  0.13776654,  0.45679645],
       ...,
       [-0.31081563,  0.32661636,  0.18586143],
       [-1.23038848, -1.48706069,  1.43893592],
       [-1.03333716, -0.96992912, -0.59307677]])

### Modelo de Machine Learning para segmentação de clientes

In [8]:
# Definindo o número de clusters (grupos)

k = 3

# Criando o mocaloe K-means

kmeans = KMeans(n_clusters = k)

# Treinando o modelo com os dados padronizados

kmeans.fit(dados_padronizados)

KMeans(n_clusters=3)

In [9]:
# Atribuindo os rótulos dos clusters aos clientes

dados['cluster'] = kmeans.labels_

# Exibindo resultado

dados.head()

   id  idade  renda_anual  pontuacao_gastos  cluster
0   1     56        94740                90        2
1   2     69       136352                50        0
2   3     46        86617                62        2
3   4     32       114841                97        0
4   5     60        36896                51        2

In [10]:
# Salvando os dados resultantes

dados.to_csv('segmentos.csv', index = False)

### Gerando relatório dos seguimentos de clientes com Power BI no jupyter notebook

In [ ]:
!pip install powerbiclient

In [13]:
# Carregando as funções usadas para autenticar e gerar relatórios

from powerbiclient import QuickVisualize, get_dataset_config, Report
from powerbiclient.authentication import DeviceCodeLoginAuthentication

In [14]:
device_auth = DeviceCodeLoginAuthentication()

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code E9DY56QYV to authenticate.

Device flow authentication successfully completed.
You are now logged in .

The result should be passed only to trusted code in your notebook.

In [15]:
# Criando relatório no Power BI

relatorio_PBI = QuickVisualize(get_dataset_config(dados), auth = device_auth)

In [16]:
relatorio_PBI

QuickVisualize()